<div class="pull-left" style="width: 70%"><ol class="breadcrumb">
  <li>
    <a href="/" class="text-danger"><b>apps</b></a>
  </li>
  <li class="text-primary"><b>{{appName}}</b></li></ol>
</div>

<div style="width: 400px;" class="pull-right">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="searchText" placeholder="Search...">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="query()" type="button">Go</button>
      </span>
    </div><!-- /input-group -->
</div>


